*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
}
body
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-weight: 900;
    font-size: 20px;
}
.container
{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: repeat(3,150px);
}
li
{
    list-style:none;
}
.left_section
{
    width:50vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
}
button
{
    border: none;
    transition: .3s;
}
#id1,#id4,#id7
{
    border-right:10px solid white;
}
#id2,#id5,#id8
{
    border-right: 10px solid white;
}
#id1,#id2,#id3
{
    border-bottom: 10px solid white;
}
#id4,#id5,#id6
{
    border-bottom: 10px solid white;
}
button
{
    background-color: black;
    color: white;
}
ul li
{
    margin:10px;
}
table tr th,td
{
    padding:15px 15px;
}